#start{
    background-color: rgb(24,188 ,156 );
}
.ms-debug{
    height: 50px;
    background-color: red;
}
#about{
    background-color: rgb(24,188 ,156 );
}
.ms_green{
    background-color: rgb(24,188 ,156 );
}
#location{
    background-color: rgb(58, 84, 109);
}
#foot{
    background-color: rgb(44, 62, 80);
}
.ms-start{
    color: rgb(24,188 ,156 );
}
#navigation{
    background-color: rgb(58, 84, 109);
}
.ms-avatar{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 35%;
}