#start{
    background-color: rgb(24,188 ,156 );
}
.ms-debug{
    height: 50px;
    background-color: red;
}
#about{
    background-color: rgb(24,188 ,156 );
}
.ms_green{
    background-color: rgb(24,188 ,156 );
}
#location{
    background-color: rgb(58, 84, 109);
}
#foot{
    background-color: rgb(44, 62, 80);
}

#navigation{
    background-color: rgb(58, 84, 109);
}
.ms-avatar{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 12px;
    background-color: rgba(24,188 ,156,0.4 );
    width: 95%;
    height: 300px;
    border-radius: 10px; 
    display: none;
}
.overlay i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#over:hover .overlay{
    display: block;
   

}